<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>5jyAaGbtCXEYxffHoMzeNdWSsustAwqh8fPDcHu/h7T8H4OEAjI4HloApjQp7MwB</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.24">
      <score>0.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
    </hudson.plugins.cigame.UserScoreProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.4">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.17">
      <emailAddress>alban.andrieu@free.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.44">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@1.16">
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$K5WsWjBgJv3ynTHGsaC.QOStQ/UL3q/i6/u4KeflVgbBdIEDWdfWK</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <de.fspengler.hudson.pview.UserPersonalViewProperty plugin="hudson-pview-plugin@1.8">
      <pViewExpression></pViewExpression>
      <pViewBuildNoQueue>false</pViewBuildNoQueue>
      <pViewBuildNoExecutor>false</pViewBuildNoExecutor>
      <pcStatus>true</pcStatus>
      <pcWeather>true</pcWeather>
      <pcJob>true</pcJob>
      <pcLastSuccess>true</pcLastSuccess>
      <pcLastFailure>true</pcLastFailure>
      <pcLastStable>true</pcLastStable>
      <pcLastDuration>true</pcLastDuration>
      <pcConsoleView>true</pcConsoleView>
      <pcBuildButton>true</pcBuildButton>
      <treeSplitChar>-</treeSplitChar>
      <treePosition>0</treePosition>
      <stepInNumberJobs>10</stepInNumberJobs>
    </de.fspengler.hudson.pview.UserPersonalViewProperty>
  </properties>
</user>