<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.UpdateCenterChooser</string>
    <string>OldData</string>
    <string>jenkins.security.RekeySecretAdminMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.5</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>false</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;p&gt;&lt;b&gt;Nabla&lt;/b&gt; jenkins build &lt;i&gt;Continous Integration&lt;/i&gt;&lt;br&gt;&#xd;
&lt;b&gt;Build Manager&lt;/b&gt;&lt;/p&gt;&#xd;
&lt;table width=&quot;100%&quot;&gt;&#xd;
  &lt;tr&gt;&#xd;
    &lt;td style=&quot;width:50%;text-align:left;padding-left:200px&quot;&gt;&#xd;
      &lt;br/&gt;&lt;b&gt;Nabla Build Manager&lt;/b&gt;&lt;br /&gt;&#xd;
      Please visit our site &lt;a href=&quot;http://home.nabla.mobi:7070&quot;&gt;Nabla Build Masters&lt;/a&gt;&lt;br /&gt;&#xd;
      or e-mail us: &lt;a href=&quot;mailto:alban.andrieu@free.fr&quot; target=&quot;_top&quot;&gt;Nabla Build Masters mailbox&lt;/a&gt;&#xd;
    &lt;/td&gt;&#xd;
    &lt;td style=&quot;width:50%;text-align:center;&quot;&gt;&#xd;
      &lt;img width=&quot;243px&quot; height=&quot;100px&quot; src=&quot;http://home.nabla.mobi:8380/jenkins/userContent/pinguin-icon.jpg&quot; /&gt;&#xd;
    &lt;/td&gt;&#xd;
  &lt;/tr&gt;&#xd;
&lt;/table&gt;</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.3">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>java-8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-8u60-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>java-7</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-7u80-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@0.16.0">
      <name>albandri</name>
      <templates>
        <com.nirima.jenkins.plugins.docker.DockerTemplate>
          <configVersion>2</configVersion>
          <labelString>jenkins-test</labelString>
          <launcher class="com.nirima.jenkins.plugins.docker.launcher.DockerComputerSSHLauncher">
            <sshConnector plugin="ssh-slaves@1.11">
              <port>22</port>
              <credentialsId>f6696ac6-b493-4fe8-a268-b2e56f0c1b5b</credentialsId>
              <jvmOptions></jvmOptions>
              <javaPath></javaPath>
              <launchTimeoutSeconds>60</launchTimeoutSeconds>
              <maxNumRetries>0</maxNumRetries>
              <retryWaitTime>0</retryWaitTime>
            </sshConnector>
          </launcher>
          <remoteFsMapping></remoteFsMapping>
          <remoteFs>/home/jenkins</remoteFs>
          <instanceCap>1</instanceCap>
          <mode>NORMAL</mode>
          <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
            <idleMinutes>10</idleMinutes>
            <idleMinutes defined-in="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">10</idleMinutes>
          </retentionStrategy>
          <numExecutors>1</numExecutors>
          <dockerTemplateBase>
            <image>evarga/jenkins-slave</image>
            <dockerCommand></dockerCommand>
            <lxcConfString></lxcConfString>
            <hostname></hostname>
            <dnsHosts/>
            <volumes/>
            <volumesFrom2/>
            <environment/>
            <bindPorts></bindPorts>
            <bindAllPorts>false</bindAllPorts>
            <privileged>false</privileged>
            <tty>false</tty>
            <extraHosts class="java.util.Collections$UnmodifiableRandomAccessList" resolves-to="java.util.Collections$UnmodifiableList">
              <c class="list"/>
              <list reference="../c"/>
            </extraHosts>
          </dockerTemplateBase>
          <removeVolumes>false</removeVolumes>
          <pullStrategy>PULL_LATEST</pullStrategy>
        </com.nirima.jenkins.plugins.docker.DockerTemplate>
        <com.nirima.jenkins.plugins.docker.DockerTemplate>
          <configVersion>2</configVersion>
          <labelString>jenkins</labelString>
          <launcher class="com.nirima.jenkins.plugins.docker.launcher.DockerComputerSSHLauncher">
            <sshConnector plugin="ssh-slaves@1.11">
              <port>22</port>
              <credentialsId>f6696ac6-b493-4fe8-a268-b2e56f0c1b5b</credentialsId>
              <jvmOptions></jvmOptions>
              <javaPath>/usr/lib/jvm/jdk1.8.0/bin/java</javaPath>
              <launchTimeoutSeconds>60</launchTimeoutSeconds>
              <maxNumRetries>0</maxNumRetries>
              <retryWaitTime>0</retryWaitTime>
            </sshConnector>
          </launcher>
          <remoteFsMapping></remoteFsMapping>
          <remoteFs>/home/jenkins</remoteFs>
          <instanceCap>2</instanceCap>
          <mode>NORMAL</mode>
          <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
            <idleMinutes>10</idleMinutes>
            <idleMinutes defined-in="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">10</idleMinutes>
          </retentionStrategy>
          <numExecutors>1</numExecutors>
          <dockerTemplateBase>
            <image>nabla/ansible-jenkins-slave-docker</image>
            <dockerCommand></dockerCommand>
            <lxcConfString></lxcConfString>
            <hostname></hostname>
            <dnsHosts/>
            <volumes/>
            <volumesFrom2/>
            <environment/>
            <bindPorts></bindPorts>
            <bindAllPorts>false</bindAllPorts>
            <privileged>false</privileged>
            <tty>false</tty>
            <extraHosts class="java.util.Collections$UnmodifiableRandomAccessList" resolves-to="java.util.Collections$UnmodifiableList">
              <c class="list"/>
              <list reference="../c"/>
            </extraHosts>
          </dockerTemplateBase>
          <removeVolumes>false</removeVolumes>
          <pullStrategy>PULL_LATEST</pullStrategy>
        </com.nirima.jenkins.plugins.docker.DockerTemplate>
      </templates>
      <serverUrl>http://localhost:4243</serverUrl>
      <connectTimeout>5</connectTimeout>
      <readTimeout>15</readTimeout>
      <credentialsId></credentialsId>
      <containerCap>1</containerCap>
    </com.nirima.jenkins.plugins.docker.DockerCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>Tous</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>nabla</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>nabla-databases-integration</string>
        <string>nabla-databases-nightly</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
      </columns>
      <includeRegex>nabla.*</includeRegex>
      <recurse>false</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>nabla-nightly</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomModulesFullColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
      </columns>
      <includeRegex>nabla.*nightly</includeRegex>
      <recurse>false</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>nabla-continuous</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
      </columns>
      <includeRegex>nabla.*continuous</includeRegex>
      <recurse>false</recurse>
    </listView>
    <hudson.model.RadiatorView plugin="radiatorviewplugin@1.26">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-radiator</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns/>
      <includeRegex>nabla.*</includeRegex>
      <recurse>false</recurse>
      <showStable>true</showStable>
      <showStableDetail>true</showStableDetail>
      <highVis>true</highVis>
      <groupByPrefix>true</groupByPrefix>
    </hudson.model.RadiatorView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>nabla-integration</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.RadiatorView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomModulesFullColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
      </columns>
      <includeRegex>nabla.*integration</includeRegex>
      <recurse>false</recurse>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.7">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.RadiatorView/jobNames/comparator"/>
        <string>bodgeit-maven-nightly</string>
        <string>nabla-andromda-integration</string>
        <string>nabla-andromda-nightly</string>
        <string>nabla-andromda-timetracker-ejb3-continuous</string>
        <string>nabla-cpp-interview-microsoft-cmake</string>
        <string>nabla-installer-fronter</string>
        <string>nabla-jhipster-sample-nightly</string>
        <string>nabla-main-snapshots-cleanup-admin</string>
        <string>nabla-projects-interview-fronter</string>
        <string>nabla-projects-interview-javascript</string>
        <string>nabla-projects-interview-performance</string>
        <string>nabla-projects-interview-visma-continuous</string>
        <string>nabla-projects-interview-visma-nightly</string>
        <string>nabla-servers-angular-phonecat-nodejs-nightly</string>
        <string>nabla-servers-bower-nightly</string>
        <string>nabla-servers-bower-sample-nightly</string>
        <string>nabla-servers-bower-sample-nightly-branch</string>
        <string>nabla-servers-gwt-kitchensink-jboss-deploy</string>
        <string>nabla-servers-gwt-kitchensink-nightly</string>
        <string>nabla-servers-richfaces-webapp-nightly</string>
        <string>nabla-trunk-all-release</string>
        <string>nabla-trunk-branch</string>
        <string>nabla-uml-nightly</string>
        <string>nabla-vagrant-ansible-admin</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.10">
          <colorblindHint>underlinehint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.10">
          <colorblindHint>underlinehint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>60</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.ci.plugins.progress__bar.ProgressBarColumn plugin="progress-bar-column-plugin@1.0"/>
        <org.jenkinsci.plugins.violationcolumns.FailedTestsColumn plugin="violation-columns@1.6"/>
        <hudson.plugins.analysis.collector.WarningsCountColumn plugin="analysis-collector@1.47">
          <warningsAggregator>
            <isCheckStyleActivated>true</isCheckStyleActivated>
            <isDryActivated>true</isDryActivated>
            <isFindBugsActivated>true</isFindBugsActivated>
            <isPmdActivated>true</isPmdActivated>
            <isOpenTasksActivated>true</isOpenTasksActivated>
            <isWarningsActivated>true</isWarningsActivated>
            <hideJobPrefix>false</hideJobPrefix>
          </warningsAggregator>
        </hudson.plugins.analysis.collector.WarningsCountColumn>
        <hudson.views.LastDurationColumn/>
        <hudson.views.LastStableColumn/>
        <com.sonatype.insight.ci.hudson.QualityColumn plugin="insight-ci@2.3.3"/>
        <hudson.plugins.projectstats.column.NumBuildsColumn plugin="project-stats-plugin@0.4"/>
        <hudson.plugins.nodenamecolumn.NodeNameColumn plugin="nodenamecolumn@1.2"/>
        <hudson.plugins.jobtype__column.JobTypeColumn plugin="jobtype-column@1.3"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@1.16"/>
      </columns>
      <includeRegex>nabla.*</includeRegex>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet plugin="cobertura@1.9.8">
          <id>dashboard_portlet_6769</id>
          <name>Code Coverages(Cobertura)</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
        <hudson.plugins.jacoco.portlet.chart.JacocoBuilderTrendChart plugin="jacoco@2.0.1">
          <id>dashboard_portlet_21242</id>
          <name>JaCoCo Coverage Trend Chart</name>
          <width>500</width>
          <height>250</height>
          <daysNumber>30</daysNumber>
        </hudson.plugins.jacoco.portlet.chart.JacocoBuilderTrendChart>
        <hudson.plugins.jacoco.portlet.grid.JacocoBuilderGrid plugin="jacoco@2.0.1">
          <id>dashboard_portlet_3071</id>
          <name>JaCoCo Coverage Statistics Grid</name>
        </hudson.plugins.jacoco.portlet.grid.JacocoBuilderGrid>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_11473</id>
          <name>Test Statistics Grid</name>
          <useBackgroundColors>false</useBackgroundColors>
          <skippedColor>FDB813</skippedColor>
          <successColor>71E66D</successColor>
          <failureColor>E86850</failureColor>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_28561</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.test.TestTrendChart>
          <id>dashboard_portlet_19682</id>
          <name>Test Trend Chart</name>
          <graphWidth>300</graphWidth>
          <graphHeight>220</graphHeight>
          <dateRange>0</dateRange>
          <dateShift>0</dateShift>
          <displayStatus>ALL</displayStatus>
        </hudson.plugins.view.dashboard.test.TestTrendChart>
        <hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet plugin="analysis-collector@1.47">
          <id>dashboard_portlet_24505</id>
          <name>Warnings per project</name>
          <canHideZeroWarningsProjects>false</canHideZeroWarningsProjects>
          <useImages>true</useImages>
          <warningsAggregator>
            <isCheckStyleActivated>true</isCheckStyleActivated>
            <isDryActivated>true</isDryActivated>
            <isFindBugsActivated>true</isFindBugsActivated>
            <isPmdActivated>true</isPmdActivated>
            <isOpenTasksActivated>true</isOpenTasksActivated>
            <isWarningsActivated>true</isWarningsActivated>
            <hideJobPrefix>false</hideJobPrefix>
          </warningsAggregator>
        </hudson.plugins.analysis.collector.dashboard.WarningsTablePortlet>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.checkstyle.dashboard.WarningsTotalsGraphPortlet plugin="checkstyle@3.45">
          <id>dashboard_portlet_1233</id>
          <name>Checkstyle warnings trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.checkstyle.dashboard.WarningsTotalsGraphPortlet>
        <hudson.plugins.warnings.dashboard.WarningsTotalsGraphPortlet plugin="warnings@4.53">
          <id>dashboard_portlet_27756</id>
          <name>Compiler warnings trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
          <actionSelector>
            <parserName>AcuCobol Compiler</parserName>
          </actionSelector>
        </hudson.plugins.warnings.dashboard.WarningsTotalsGraphPortlet>
        <hudson.plugins.dry.dashboard.WarningsTotalsGraphPortlet plugin="dry@2.44">
          <id>dashboard_portlet_19073</id>
          <name>Duplicate code trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.dry.dashboard.WarningsTotalsGraphPortlet>
        <hudson.plugins.findbugs.dashboard.WarningsTotalsGraphPortlet plugin="findbugs@4.64">
          <id>dashboard_portlet_4305</id>
          <name>FindBugs warnings trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.findbugs.dashboard.WarningsTotalsGraphPortlet>
        <hudson.plugins.tasks.dashboard.WarningsTotalsGraphPortlet plugin="tasks@4.48">
          <id>dashboard_portlet_8924</id>
          <name>Open tasks trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.tasks.dashboard.WarningsTotalsGraphPortlet>
        <hudson.plugins.pmd.dashboard.WarningsTotalsGraphPortlet plugin="pmd@3.44">
          <id>dashboard_portlet_6428</id>
          <name>PMD warnings trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.pmd.dashboard.WarningsTotalsGraphPortlet>
        <hudson.plugins.analysis.collector.dashboard.WarningsTotalsGraphPortlet plugin="analysis-collector@1.47">
          <id>dashboard_portlet_4342</id>
          <name>Warnings trend graph (totals)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.analysis.collector.dashboard.WarningsTotalsGraphPortlet>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_23102</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
        <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          <id>dashboard_portlet_30322</id>
          <name>Unstable Jobs</name>
          <showOnlyFailedJobs>false</showOnlyFailedJobs>
          <recurse>false</recurse>
        </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_30590</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_30098</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
        <hudson.plugins.view.dashboard.stats.StatSlaves>
          <id>dashboard_portlet_9518</id>
          <name>Slaves statistics</name>
        </hudson.plugins.view.dashboard.stats.StatSlaves>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>andromda</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>andromda-16-deployment-cartridge</string>
        <string>andromda-17-maven-bootstrap</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <com.robestone.hudson.compactcolumns.LastSuccessAndFailedColumn plugin="compact-columns@1.10">
          <timeAgoTypeString>DIFF</timeAgoTypeString>
        </com.robestone.hudson.compactcolumns.LastSuccessAndFailedColumn>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <com.sonatype.insight.ci.hudson.QualityColumn plugin="insight-ci@2.3.3"/>
        <org.jenkins.ci.plugins.progress__bar.ProgressBarColumn plugin="progress-bar-column-plugin@1.0"/>
      </columns>
      <includeRegex>andromda.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>nabla-admin</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>nabla-jenkins-backup-admin</string>
        <string>nabla-scm-pooling-kill-admin</string>
        <string>nabla-security-monitor-admin</string>
        <string>nabla-site-monitor-admin</string>
        <string>nabla-sonar-backup-admin</string>
        <string>show-zfs-tree-admin</string>
        <string>zap-admin</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomDependenciesColumn plugin="maven-info@0.2.0">
          <onlyWithinGroupId>false</onlyWithinGroupId>
          <columnName>Maven Dependencies</columnName>
        </org.tomfolga.PomDependenciesColumn>
        <org.tomfolga.PomDependenciesWithinGroupIdColumn plugin="maven-info@0.2.0">
          <onlyWithinGroupId>true</onlyWithinGroupId>
          <columnName>Maven Dependencies (within groupId)</columnName>
        </org.tomfolga.PomDependenciesWithinGroupIdColumn>
        <org.tomfolga.PomModulesFullColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <com.sonatype.insight.ci.hudson.QualityColumn plugin="insight-ci@2.3.3"/>
      </columns>
      <includeRegex>nabla.*admin</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>miscellaneous</name>
      <description>Other stuff</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>lifecycle-mapping-plugin</string>
        <string>proguard-maven-plugin</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomDependenciesColumn plugin="maven-info@0.2.0">
          <onlyWithinGroupId>false</onlyWithinGroupId>
          <columnName>Maven Dependencies</columnName>
        </org.tomfolga.PomDependenciesColumn>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <com.sonatype.insight.ci.hudson.QualityColumn plugin="insight-ci@2.3.3"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>nabla-all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.tomfolga.PomModulesShortColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn plugin="maven-info@0.2.0">
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <com.sonatype.insight.ci.hudson.QualityColumn plugin="insight-ci@2.3.3"/>
      </columns>
      <includeRegex>(nabla-.*)-all.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.2">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-databases-pipeline</name>
      <description>&lt;b&gt;Pipeline view of nabla databases&lt;/b&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>nabla-databases-nightly</firstJob>
        <firstJobLink>job/nabla-databases-nightly/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.2">
      <owner class="hudson" reference="../../.."/>
      <name>andromda-pipeline</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>andromda-0-maven-config</firstJob>
        <firstJobLink>job/andromda-0-maven-config/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.2">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-servers-pipeline</name>
      <description>&lt;b&gt;Pipeline view of nabla servers&lt;/b&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>nabla-servers-nightly</firstJob>
        <firstJobLink>job/nabla-servers-nightly/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.2">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-project-pipeline</name>
      <description>&lt;b&gt;Pipeline view of nabla project&lt;/b&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>nabla-projects-nightly</firstJob>
        <firstJobLink>job/nabla-projects-nightly/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.2">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-uml-pipeline</name>
      <description>&lt;b&gt;Pipeline view of nabla uml&lt;/b&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>nabla-uml-nightly</firstJob>
        <firstJobLink>job/nabla-uml-nightly/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.2">
      <owner class="hudson" reference="../../.."/>
      <name>nabla-nabla-pipeline</name>
      <description>&lt;b&gt;Pipeline view of nabla nabla&lt;/b&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>nabla-andromda-nightly</firstJob>
        <firstJobLink>job/nabla-andromda-nightly/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ZZZ</name>
      <description>Failed jobs</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@1.27">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>true</unstable>
          <failed>true</failed>
          <aborted>true</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn plugin="hudson-pview-plugin@1.8"/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@1.16"/>
        <hudson.plugins.jobtype__column.JobTypeColumn plugin="jobtype-column@1.3"/>
        <hudson.plugins.lastfailureversioncolumn.LastFailureVersionColumn plugin="lastfailureversioncolumn@1.1"/>
        <hudson.plugins.lastsuccessversioncolumn.LastSuccessVersionColumn plugin="lastsuccessversioncolumn@1.1"/>
        <hudson.plugins.nodenamecolumn.NodeNameColumn plugin="nodenamecolumn@1.2"/>
        <hudson.plugins.projectstats.column.NumBuildsColumn plugin="project-stats-plugin@0.4"/>
        <org.jenkins.ci.plugins.progress__bar.ProgressBarColumn plugin="progress-bar-column-plugin@1.0"/>
        <com.sonatype.insight.ci.hudson.QualityColumn plugin="insight-ci@2.3.3"/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>nabla-dashboard</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>ubuntu java java-small java-medium groovy jboss7x jboss5x subversion git selenium zaproxy nodejs</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>JAVA_HOME</string>
          <string>/usr/lib/jvm/java-8-oracle/</string>
          <string>PATH</string>
          <string>$PATH:$ZAPROXY_HOME</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>11</int>
          <string>DISPLAY</string>
          <string>:99</string>
          <string>JAVA_HOME</string>
          <string>/usr/lib/jvm/java-8-oracle/</string>
          <string>JAVA_OPTS</string>
          <string>-Xms128m -Xmx1024m</string>
          <string>JBOSS_HOME</string>
          <string>/workspace/jboss-as-7.1.1.Final</string>
          <string>JRE_HOME</string>
          <string>/usr/lib/jvm/java-8-oracle/jre</string>
          <string>PATH</string>
          <string>$PATH:$ZAPROXY_HOME</string>
          <string>PROJECT_DEV</string>
          <string>/workspace/users/albandri10/</string>
          <string>PROJECT_TARGET_PATH</string>
          <string>/workspace/users/albandri10/target</string>
          <string>PROJECT_THIRDPARTY_PATH</string>
          <string>/thirdparty</string>
          <string>WPT_API_KEY</string>
          <string>A.01ea5a02081b6d10415d7b0e7c844e73</string>
          <string>ZAPROXY_HOME</string>
          <string>/zapSource/build/zap</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>