<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.12">
  <actions/>
  <description>&lt;p&gt;Build &lt;b&gt;Nabla&lt;/b&gt; &lt;i&gt;Browsers&lt;/i&gt; matrix after the nightly job.&lt;br&gt;&#xd;
The main goals of this job is to test our projet build regards multiple environemnet, it provide quick feedback to release manager.&lt;br&gt;&#xd;
It does not keep build history.&lt;br&gt;&#xd;
&lt;br&gt;&#xd;
This build check that our project can be delivered on targeted environments.&#xd;
&lt;/p&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>365</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl plugin="html5-notifier-plugin@1.5">
      <skip>false</skip>
    </org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <jdk>java7</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>arquillian</name>
      <values>
        <string>arq-jbossas-managed</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>browser</name>
      <values>
        <string>firefox</string>
        <string>chromium</string>
        <string>chrome</string>
        <string>opera</string>
        <string>iexplorer</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>os</name>
      <values>
        <string>x86linux</string>
        <string>x86sol</string>
        <string>winnt</string>
        <string>macos</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>server</name>
      <values>
        <string>jboss7x</string>
        <string>jboss5x</string>
        <string>jetty6x</string>
        <string>jetty7x</string>
        <string>jetty9x</string>
        <string>tomcat7x</string>
        <string>tomcat6x</string>
        <string>glassfish3x</string>
        <string>jonas5x</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <combinationFilter>(browser==&quot;firefox&quot;) || (browser==&quot;opera&quot;) || (browser==&quot;iexplorer&quot; &amp;&amp; os==&quot;winnt&quot;) || (browser==&quot;chromium&quot; &amp;&amp; os==&quot;winnt&quot;) || (browser==&quot;chrome&quot; &amp;&amp; os!=&quot;x86sol&quot;) || (server==&quot;jboss7x&quot;) || (server==&quot;jboss5x&quot;) || (server==&quot;jetty6x&quot;) || (server==&quot;jetty7x&quot;)  || (server==&quot;jetty9x&quot;) || (server==&quot;tomcat7x&quot;)  || (server==&quot;tomcat6x&quot;) || (server==&quot;glassfish3x&quot; &amp;&amp; os==&quot;winnt&quot;) || (server==&quot;jonas5x&quot; &amp;&amp; os==&quot;winnt&quot;)</combinationFilter>
  <builders>
    <hudson.tasks.Maven>
      <targets>-U -Dsurefire.useFile=false install -Psample,$arquillian</targets>
      <mavenName>Maven-3.0.4</mavenName>
      <jvmOptions>-Xms256m -Xmx512m -XX:PermSize=80M -XX:MaxPermSize=256M</jvmOptions>
      <properties>maven.repo.local=/var/lib/jenkins/.m2/repository/</properties>
      <usePrivateRepository>true</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>true</injectBuildVariables>
    </hudson.tasks.Maven>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <touchStoneCombinationFilter>(browser==&quot;firefox&quot;) &amp;&amp; (browser==&quot;chromium&quot;) &amp;&amp; (browser==&quot;iexplorer&quot;) &amp;&amp; (server==&quot;jboss7x&quot;) &amp;&amp; (server==&quot;jetty9x&quot;) &amp;&amp; (server==&quot;tomcat7x&quot;) &amp;&amp; (os==&quot;x86linux&quot;)</touchStoneCombinationFilter>
    <touchStoneResultCondition>
      <name>SUCCESS</name>
      <ordinal>0</ordinal>
      <color>BLUE</color>
      <completeBuild>true</completeBuild>
    </touchStoneResultCondition>
  </executionStrategy>
</matrix-project>