<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.8">
  <actions/>
  <description>Build andromda 3.5</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>365</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>365</artifactDaysToKeep>
    <artifactNumToKeep>100</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.plugins.maveninfo.config.MavenInfoJobConfig plugin="maven-info@0.2.0">
      <mainModulePattern></mainModulePattern>
      <dependenciesPattern></dependenciesPattern>
      <assignName>false</assignName>
      <nameTemplate></nameTemplate>
      <assignDescription>false</assignDescription>
      <descriptionTemplate></descriptionTemplate>
    </jenkins.plugins.maveninfo.config.MavenInfoJobConfig>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty plugin="googlecode@1.7">
      <googlecodeWebsite>https://code.google.com/p/alban/</googlecodeWebsite>
    </hudson.plugins.googlecode.GoogleCodeProjectProperty>
    <com.nirima.jenkins.plugins.docker.DockerJobProperty plugin="docker-plugin@0.8">
      <tagOnCompletion>false</tagOnCompletion>
      <additionalTag></additionalTag>
      <pushOnSuccess>false</pushOnSuccess>
      <cleanImages>true</cleanImages>
    </com.nirima.jenkins.plugins.docker.DockerJobProperty>
    <org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl plugin="html5-notifier-plugin@1.3">
      <skip>false</skip>
    </org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.25"/>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.5"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <jdk>java7</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@weekly</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>@daily</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/workspace/divers/andromda/trunk/profiles</customWorkspace>
  <rootModule>
    <groupId>org.andromda.profiles</groupId>
    <artifactId>andromda-profiles</artifactId>
  </rootModule>
  <goals>-U -Dsurefire.useFile=false clean install -Pandromda-lite</goals>
  <defaultGoals>install</defaultGoals>
  <mavenName>Maven-3.0.4</mavenName>
  <mavenOpts>-Xms256m -Xmx1024m -XX:PermSize=80M -XX:MaxPermSize=256M</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>30</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <settingConfigId></settingConfigId>
  <globalSettingConfigId></globalSettingConfigId>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters>
    <hudson.plugins.tasks.TasksReporter plugin="tasks@4.44">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[TASKS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.70">
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
      </thresholds>
      <dontComputeNew>true</dontComputeNew>
      <usePreviousBuildAsReference>false</usePreviousBuildAsReference>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <pattern></pattern>
      <excludePattern></excludePattern>
      <high></high>
      <normal></normal>
      <low></low>
      <ignoreCase>false</ignoreCase>
      <asRegexp>false</asRegexp>
    </hudson.plugins.tasks.TasksReporter>
  </reporters>
  <publishers>
    <hudson.maven.RedeployPublisher>
      <id>nexus-snapshots</id>
      <url>http://home.nabla.mobi:8081/nexus/content/repositories/snapshots</url>
      <uniqueVersion>false</uniqueVersion>
      <evenIfUnstable>true</evenIfUnstable>
    </hudson.maven.RedeployPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>andromda-11-cartridges</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher plugin="discard-old-build@1.05">
      <daysToKeep>30</daysToKeep>
      <numToKeep>-1</numToKeep>
      <resultsToDiscard>
        <hudson.model.Result>
          <name>NOT_BUILT</name>
          <ordinal>3</ordinal>
          <color>NOTBUILT</color>
          <completeBuild>false</completeBuild>
        </hudson.model.Result>
        <hudson.model.Result>
          <name>ABORTED</name>
          <ordinal>4</ordinal>
          <color>ABORTED</color>
          <completeBuild>false</completeBuild>
        </hudson.model.Result>
        <hudson.model.Result>
          <name>FAILURE</name>
          <ordinal>2</ordinal>
          <color>RED</color>
          <completeBuild>true</completeBuild>
        </hudson.model.Result>
      </resultsToDiscard>
      <minLogFileSize>-1</minLogFileSize>
      <maxLogFileSize>-1</maxLogFileSize>
      <intervalDaysToKeep>-1</intervalDaysToKeep>
      <intervalNumToKeep>15</intervalNumToKeep>
      <regexp></regexp>
    </org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14.1">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>100</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.FailOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.16"/>
  </buildWrappers>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>